{
  "extends": ["react-app", "plugin:react/all"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/destructuring-assignment": 1,
    "react/no-set-state": 0,
    "react/no-multi-comp": 0,
    "react/forbid-component-props": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/jsx-no-literals": 0,
    "react/jsx-indent": [2, 2],
    "react/jsx-indent-props": [2, 2],
    "react/jsx-max-props-per-line": [1, { "when": "multiline" }],
    "react/jsx-handler-names": [
      1,
      {
        "eventHandlerPrefix": "handle",
        "eventHandlerPropPrefix": "handle"
      }
    ],
    "react/jsx-no-bind": [
      2,
      {
        "allowArrowFunctions": true
      }
    ]
  },
  "plugins": ["react"]
}
